/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  box-sizing: border-box;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

article {
  width: 50em;
}

h1 {
}

img {
  max-width: 100%;
}

figcaption {
  color: #A80;
}

/*@import url("http://weloveiconfonts.com/api/?family=zocial");*/

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  padding-right: 10px;
  color: black;
  text-shadow: 2px 2px 1px #AAA;
}

.social {
}

.social a {
  min-width: 48px;
  text-decoration: none;
  margin: 0 10px;
}
